<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link href="/output.css" rel="stylesheet">
</head>

<body>

	<div class="navbar bg-base-100 shadow-sm bg-secondary">
		<div class="flex-1">
			<a class="btn btn-ghost text-4xl text-base-200">
				<img src="/assets/logotipo.png" alt="" class="object-contain h-24 w-24">
			</a>
		</div>
		<div class="flex-none">
			<div class="dropdown dropdown-end">
				<div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
					<div class="w-10 rounded-full">
						<img alt="Tailwind CSS Navbar component"
							src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
					</div>
				</div>
				<ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
					<li>
						<a class="justify-between">
							Perfil
							<span class="badge">Novo</span>
						</a>
					</li>
					<li><a>Configurações</a></li>
					<li><a>Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>

</html>
