<!DOCTYPE html>
<html lang="pt-br">
		<head>
				<meta charset="UTF-8">
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<title>Page Index</title>
		</head>
		<body>

				<h1>Telas SciClick</h1>

				<ol>
						<li>
								<h2>Pagina inicial</h2>
								<ol>
										<li>
												<a href="/inicial/geral">Usuario Geral</a>
										</li>
										<li>
												<a href="/inicial/revisor">Revisor</a>
										</li>
										<li>
												<a href="/inicial/organizador">Organizador</a>
										</li>
								</ol>
						</li>

				</ol>

				<ol>
						<li>
								<h2>Pagina do evento</h2>
								<ol>
										<li>
												<a href="/evento/geral">Usuario Geral</a>
										</li>
										<li>
												<a href="/evento/revisoes">Listagem de Revisoes Revisor</a>
										</li>
										<li>Revisao Revisor</li>
										<li>
												<a href="/evento/revisoes/1">Revisao Revisor</a>
										</li>
										<li>
												<a href="/evento/artigos">Artigos Aprovados</a>
										</li>
										<li>
												<a href="/evento/organizador">Organizador</a>
										</li>
								</ol>
						</li>

				</ol>

				<ol>
						<li>
								<h2>Sessao</h2>
								<ol>
										<li>
												<a href="/sessao/login">Login</a>
										</li>
										<li>
												<a href="/sessao/inscreverse">Inscrever-se</a>
										</li>
								</ol>
						</li>

				</ol>

		</body>
</html>
