<!DOCTYPE html>
<html lang="pt-br" data-theme="garden">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Page Index</title>
	<link rel="stylesheet" href="/output.css">
</head>

<body>

	<h1 class="text-5xl bg-primary text-base-200">Telas SciClick</h1>

	<ol>
		<li>
			<h2 class="text-2xl">Pagina inicial</h2>
			<ol>
				<li>
					<a class="text-primary" href="/inicial/geral">Usuario Geral</a>
				</li>
				<li>
					<a class="text-primary" href="/inicial/revisor">Revisor</a>
				</li>
				<li>
					<a class="text-primary" href="/inicial/organizador">Organizador</a>
				</li>
			</ol>
		</li>

	</ol>

	<ol>
		<li>
			<h2 class="text-2xl">Pagina do evento</h2>
			<ol>
				<li>
					<a class="text-primary" href="/evento/geral">Usuario Geral</a>
				</li>
				<li>
					<a class="text-primary" href="/evento/revisoes">Listagem de Revisoes Revisor</a>
				</li>
				<li>
					<a class="text-primary" href="/evento/revisoes/1">Revisao Revisor</a>
				</li>
				<li>
					<a class="text-primary" href="/evento/artigos">Artigos Aprovados</a>
				</li>
				<li>
					<a class="text-primary" href="/evento/organizador">Organizador</a>
				</li>
			</ol>
		</li>

	</ol>

	<ol>
		<li>
			<h2 class="text-2xl">Sessao</h2>
			<ol>
				<li>
					<a class="text-primary" href="/sessao/login">Login</a>
				</li>
				<li>
					<a class="text-primary" href="/sessao/inscreverse">Inscrever-se</a>
				</li>
			</ol>
		</li>

	</ol>

</body>

</html>
