<!DOCTYPE html>
<%- include('partials/theme.html'); %>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link href="/output.css" rel="stylesheet">
	</head>

	<body>

		<%- include('partials/nav.html'); %>

			<div class="hero bg-base-200 min-h-64">
				<div class="hero-content text-center">
					<div class="max-w-md">
						<h1 class="text-5xl font-bold">Eventos</h1>
						<p class="py-6">
							Aproveite nossos eventos científicos. Inscreva-se, submeta artigos, e participe dessa grande
							comunidade.
						</p>

						<div class="badge badge-soft badge-primary">Abertos</div>
						<div class="badge badge-outline badge-secondary">Submissão</div>
						<div class="badge badge-outline badge-secondary">Ajustes</div>
						<div class="badge badge-outline badge-secondary">Finalizados</div>
						<div class="badge badge-outline badge-secondary">Todos</div>

					</div>
				</div>
			</div>

			<div class="hero bg-base-200 min-h-64">
				<div class="hero-content text-center">
					<div class="max-w-screen grid gap-16 grid-cols-4">

						<% for (let i=0; i < 12; i++) { %>

							<div class="card bg-base-100 shadow-sm">
								<figure class="px-10 pt-10">
									<img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
										alt="Shoes" class="rounded-xl" />
								</figure>
								<div class="card-body items-center text-center">
									<h2 class="card-title">Congresso Regional</h2>
									<p>Esse congresso científico traz discussões importantes sobre ergonomia voltada
										para a
										área
										ortopédica.</p>
									<div class="card-actions">
										<button class="btn btn-primary">Inscrever-se</button>
									</div>
								</div>
							</div>
							<% } %>

					</div>
				</div>
			</div>

			<%- include('partials/footer.html'); %>
	</body>
