<!DOCTYPE html>
<%- include('partials/theme.html'); %>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link href="/output.css" rel="stylesheet">
	</head>

	<body>

		<%- include('partials/nav.html'); %>

			<div class="hero min-h-screen"
				style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);">
				<div class="hero-overlay"></div>
				<div class="hero-content text-neutral-content text-center">
					<div class="max-w-md">
						<h1 class="mb-5 text-5xl font-bold">Muito bem!</h1>
						<p class="mb-5">

							Nos vemos no evento!
						</p>
						<button class="btn btn-primary">Voltar ao início</button>
					</div>
				</div>
			</div>

			<%- include('partials/footer.html'); %>
	</body>
